@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eafeff;
}

.wrapper {
    width: 350px;
    padding: 30px 20px;
    background: #b5c6ff;
    border-radius: 10px;
}


.wrapper .color {
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
    background: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .btn {
    width: 100%;
    padding: 20px;
    background: #ff3838;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}